* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.faqContainer {
  padding: 16px;
}
.faqItem {
  padding: 16px;
  border-bottom: 1px solid black;
}
.faqQuestion {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.faqIcon {
  width: 16px;
  height: 16px;
}
.faqAnswer, .faqTemplate {
  margin-top: 8px;
}